@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');
$monospace-font: Fira Mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$main-font: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$header-font: 'Rubik', sans-serif;